---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import type { SignatureKind } from 'typescript';
import people from '../data/people.json';
import { number, set } from 'astro:schema';
import Snowfall from 'react-snowfall'

const {window} = Astro.params;
const windowDate = Number(window);
const todaysVariant = people[windowDate - 1];
const today = new Date("2024-12-05T01:30:00.000-05:00");
const isOpened = windowDate <= today.getDate() && today.getMonth() === 11;


---

<Layout title="Ida sin kule nettside :D">
	<main>
		<Snowfall
  color="white"
  snowflakeCount={200}
  client:load
  style={{
    position: 'fixed',
    width: '100vw',
    height: '100vh',
  }}
  
/>
		<div>
			<h1>Luke {window}</h1>
			{isOpened ? (
				<p>Denne luken er allerede åpnet!</p>
			) : (
				<p>Denne luken er ikke åpnet enda!</p>
			)}
			<p>Dagens variant er: {todaysVariant.name}</p>
			<img src={todaysVariant.photo} width="300px"/>
			<ul>
				<li>Favoritt julefilm: {todaysVariant.movie}</li>
				<li>I desember hører jeg på: {todaysVariant.music}</li>
				<li>Og det jeg ønsker meg under treet er: {todaysVariant.worstGift}</li>
			</ul>
		</div>
	
	</main>


</Layout>

<style>
	main {
		margin: auto;
		display: flex;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		justify-content: center;
		align-items: center;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
